*{
  z-index: 1000;
}

.navbar-brand{
    font-size: 2rem;
    font-family: 'Cedarville Cursive';
    text-shadow: 2px 2px 5px #000000;
}

.navbar-text{
    font-size: 20px;
    margin-right: 20px;
}

.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s linear;
}

.nofixed{
  position: static;
  transition: 0.2s linear;
  top: -50px;
}
