@import "primeicons/primeicons.css";

body {
  background-image: url(./assets/img/luxury-bg.jpg);
  background-size: cover;
  max-height: 100vh;
  background-attachment: fixed;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p-scrolltop button{
  border-radius: 50%;
}
