.welcome{
  min-height: 100vh;
  color: white;
  text-shadow: 2px 2px 5px #000000;
  font-family: "Inter var", sans-serif;
  user-select: none;
  animation: comeup 1s ease;
}

.gyobos{
  font-family: 'Cedarville Cursive';
  display: inline;
}

h1{
 font-size: 5vw;
}

@keyframes comeup{
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
