:root{
  --input-box-max-width: 99px;
}

.container .row-cols-1{
  min-height: calc(50vh - 10px);
  min-width: 50vh;
  text-align: center;
  font-family: 'Cedarville Cursive';
  background-color: hsla(0, 0%, 0%, 0.418);
}

p-password{
  min-width: var(--input-box-max-width);
}

input{
  min-width: var(--input-box-max-width);
}

.login{
  text-shadow: 2px 2px 5px #000000;
  font-size: 2rem;
}

.form-floating{
  margin: 10px;
}
