:root{
  --input-box-max-width: 1000px;
}

.container .row-cols-1{
  min-height: calc(50vh - 10px);
  min-width: 50vh;
  text-align: center;
  font-family: "Inter var", sans-serif;
  background-color: hsla(0, 0%, 0%, 0.4);
  backdrop-filter: blur(10px);
}

p-password{
  min-width: var(--input-box-max-width);
}

input{
  min-width: var(--input-box-max-width);
}

.login{
  text-shadow: 2px 2px 5px #000000;
  font-size: 2rem;
  font-style: italic;
  color: wheat;
}
