.rooms{
  color: transparent;
  font-family: "Inter var", sans-serif;
  user-select: none;
}

h1{
  font-size: 5vw;
  transform: translateY(50%);
  animation: comeup 1s ease 0.2s forwards;
}

.room-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
}

.blurred {
  animation: blurTimeout 0.3s ease-in-out forwards;
}

.unblurred {
  animation: unblurTimeout 0.3s ease-in-out forwards;
}

@keyframes comeup{
  0% {
    transform: translateY(50%);
    color: transparent;
    text-shadow: 0;
  }
  100% {
    transform: translateY(0);
    color: white;
    text-shadow: 2px 2px 5px #000000;
  }
}
