.rooms{
  color: transparent;
  font-family: "Inter var", sans-serif;
  user-select: none;
}

h1{
  font-size: 5vw;
  transform: translateY(50%);
  animation: comeup 1s ease 0.2s forwards;
}

@keyframes comeup{
  0% {
    transform: translateY(50%);
    color: transparent;
    text-shadow: 0;
  }
  100% {
    transform: translateY(0);
    color: white;
    text-shadow: 2px 2px 5px #000000;
  }
}
