<app-header></app-header>
<div class="rooms d-flex justify-content-center align-items-center py-5">
  <h1>Szobáink:</h1>
</div>
<app-loading-spinner
  class="justify-content-center d-flex align-items-center"
  *ngIf="isLoading"
></app-loading-spinner>
<div class="room-list container py-5">
  <div class="row justify-content-center">
    <div
      *ngFor="let room of rooms"
      class="col-xs-12 col-md-6 col-lg-4 col-xxl-3 p-3"
    >
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img
          src="{{ room.images[0] }}"
          (click)="onSetRoom(room)"
          class="card-img-top"
          style="cursor: pointer"
          alt="{{ room.roomType }}"
          routerLink="/room/{{ room.id }}"
        />
      </div>
    </div>
  </div>
</div>
